<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/civil.css">
    <title>Champions - <%= title %></title>
</head>
<body>
    <!-- page header and nav -->
    <div class="text-center">
        <h1 class="color-red">Ooop! 404</h1>
        <p>Page not avalaible</p>
    </div>
    
    
</body>
</html>